
// font-family: gill-sans-nova-condensed,sans-serif;
// font-weight: 800, 700, 500, 400, 300, 200;
// font-style: normal;
//
// font-family: gill-sans-nova-condensed,sans-serif;
// font-weight: 200;
// font-style: italic;

$color-primary: #E18F69;
$color-secondary: #6F9CAB;
$color-grey: #656662;

:root {
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0, .06);

  --line: 1px solid var(--color-grey-light-2);
}

$bp-largest: 75em;
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;


* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box !important;
  user-select: none;
  font-size: 75% !important;
  font-family: gill-sans-nova-condensed, sans-serif !important;
  font-style: normal;
  font-weight: 300;

  @media only screen and (max-width: $bp-large) {
    font-size: 68.75% !important;
  }
  @media only screen and (max-width: $bp-medium) {
    font-size: 56.25% !important;
  }

  .ui .label {
    font-weight: 500 !important;
  }

  h4{
    font-family: gill-sans-nova-condensed, sans-serif !important;
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem
  }
}
