.voronoi-path {
  cursor: pointer;
}

.dropdown-metric{
  cursor: pointer;
}

.ui  {

  color: #666666 !important;
  .label {
    background: transparent !important;
  }

  .delete {
    color: #666666;
  }
  
}
