

.App {

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  width: 100vw;

  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 2% 35vh 70vh 300px 50px 2%;

  @media only screen and (max-width: $bp-small) {

    height: 240vh;

    grid-template-columns: 0 1fr 0;
    grid-template-rows: 0px 3fr 3fr 5fr 1fr 0px;
  }

  .dropdown-metric{
    display: inline-block;
  }

  .background {
    z-index: -1;
    // border: 2px solid steelblue;
  }

}

section {
  grid-column: 2;
}

.intro {
  grid-row: 2;

  display: grid;
  grid-template-columns: 2fr 2% 3fr 5% 3fr;
  grid-template-rows: 1fr;

  @media only screen and (max-width: $bp-small) {
    grid-template-rows: 3fr 7fr;
    grid-template-columns: 1fr;
  }

}

.beeswarm-plot {

  grid-row: 3;
  display: grid;
  grid-template-rows:  8fr 2fr;
  grid-template-columns: repeat(2, 1fr);
  //
  @media only screen and (max-width: $bp-small) {
    grid-template-rows:  8fr 2fr2fr;
    grid-template-columns: 1fr;
  }

}

.line-charts {

  grid-row: 4;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

}


.credits {

  grid-row: 5;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

}
