

.App {

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  width: 100vw;

  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 2% 30vh 5vh 70vh 300px 70px 2%;

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 3% 94% 3%;
    grid-template-rows: 2% 30vh 3vh 70vh 300px 60px 2%;
  }
  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 2% 96% 2%;
    grid-template-rows: 2% 25vh 1vh 60vh 300px 50px 2%;
  }


  .dropdown-metric{
    display: inline-block;
  }

  .background {
    z-index: -1;
  }

}

section {
  grid-column: 2;
}

.intro {
  grid-row: 2;

  display: grid;
  grid-template-columns: 2fr 2rem 4fr 5rem 4fr;
  grid-template-rows: 40% 60%;
     
  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 2fr 1rem 4fr 5rem 4fr;
  }
  
  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 2fr 0rem 4fr 2rem 4fr;
  }
}

.beeswarm-plot {

  grid-row: 4;
  display: grid;
  grid-template-rows:  8fr 2fr;
  grid-template-columns: repeat(2, 1fr);
  //
  @media only screen and (max-width: $bp-small) {
    grid-template-rows:  8fr 2fr2fr;
    grid-template-columns: 1fr;
  }

}

.line-charts {

  grid-row: 5;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media only screen and (max-width: $bp-smallest) {
    grid-template-columns: 1fr;
  }

}


.credits {

  grid-row: 6;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

}
