
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none !important;
}

.App {

  width: 100vw;
  height: 150vh;

  display: grid;
  grid-template-columns: 2% 1fr 2%;
  grid-template-rows: 2% 2.5fr 5fr 3.5fr 50px 2%;


}

section {
  grid-column: 2;
}

.intro {
  grid-row: 2;

  display: grid;
  grid-template-columns: 3fr 7fr;

}

.beeswarm-plot {

  grid-row: 3;

  display: grid;
  grid-template-rows: 2fr 8fr;

}

.line-charts {

  grid-row: 4;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

}


.credits {

  grid-row: 5;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

}
